@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');



//section padding
.section-pad{
	padding:$section-padding;
}

//heading title

.section-title{
	font-family: 'Do Hyeon', sans-serif;
	text-transform:uppercase;
	font-weight:bold;
	
}

p{
	text-align:justity;
}